{% load i18n %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% trans "Sign in to OJ" %}</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.4/examples/sign-in/">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    {% load static %}
    <link href="{% static "css/account.css" %}" rel="stylesheet">
    <link href="{% static "css/signin.css" %}" rel="stylesheet">
</head>
<body class="app-account">
<div class="account-form sign-in-form mx-auto">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}

        <div class="account-form-header">
            {% if next %}
                {% if user.is_authenticated %}
                    <h1>{% trans "Permission denied" %}</h1>
                    <h2>{% trans "Your account doesn't have access to this page. To proceed,please login with an account that has access" %}.</h2>
                {% else %}
                    <h1>{% trans "Please login to see this page" %}.</h1>
                {% endif %}
            {% else %}
                <h1>{% trans "Sign in to OJ" %}</h1>
            {% endif %}
        </div>

        {% if form.errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {% trans "Incorrect email address or password" %}.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}

        <div class="account-form-body mt-3">

            <div class="form-group">
                <label for="id_username">{% trans "Email address" %}</label>
                <input type="email" class="form-control" name="username" autofocus="" autocapitalize="none"
                       autocomplete="username" maxlength="254" required="" id="id_username">
            </div>

            <div class="form-group">
                <label for="id_password">{% trans "Password" %}
                    <a class="label-link" href="{% url 'password_reset' %}">{% trans "Forgot password?" %}</a>
                </label>
                <input type="password" class="form-control" name="password" autocomplete="current-password" required
                       id="id_password">
            </div>

            <button type="submit" class="btn btn-primary btn-block">{% trans "Sign in" %}</button>
            <input type="hidden" name="next" value="{{ next }}">
        </div>

        <p class="create-account-callout mt-3">
            {% trans "New to OJ?" %}
            <a href="{% url 'django_registration_register' %}">{% trans "Create an account" %}</a>.
        </p>
</div>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</html>
