{% load i18n %}
{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% trans "Reset Password" %}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href={% static "bootstrap/css/bootstrap.min.css" %}>

    <!-- Custom styles for this template -->
    <link href="{% static "css/account.css" %}" rel="stylesheet">
    <link href="{% static "css/reset.css" %}" rel="stylesheet">
</head>
<body class="app-account">
<div class="account-form reset-form mx-auto">
    <form method="post">
        {% csrf_token %}
        <div class="account-form-header">
            <h1>{% trans "Forgot Password?" %}</h1>
            <h2>{% trans "You can reset your password here." %}</h2>
        </div>

        <div class="account-form-body mt-3">
            <div class="form-group">
                <label for="id_email">{% trans "Email address" %}</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">@</div>
                    </div>
                    <input type="email" class="form-control" name="email" autocomplete="email" maxlength="254"
                           required="" id="id_email">
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-block">{% trans "Send Request" %}</button>
        </div>
    </form>
</div>
</body>

<script src={% static "js/jquery-3.4.1.slim.min.js" %}></script>
<script src={% static "js/popper.min.js" %}></script>
<script src={% static "bootstrap/js/bootstrap.min.js" %}></script>
</html>
