{% load i18n %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% trans "Request sent" %}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href={% static "bootstrap/css/bootstrap.min.css" %}>

    <!-- Custom styles for this template -->
    <link href="{% static "css/account.css" %}" rel="stylesheet">
    <link href="{% static "css/reset.css" %}" rel="stylesheet">
</head>
<body class="app-account">
<div class="account-form reset-done-form mx-auto">
    <div class="account-form-header mx-auto">
        <h1>{% trans "Check your Inbox" %}</h1>
        <h2>{% trans "We've emailed you instructions for setting your password. You should receive the email shortly!" %}</h2>
    </div>
</div>
</body>

<script src={% static "js/jquery-3.4.1.slim.min.js" %}></script>
<script src={% static "js/popper.min.js" %}></script>
<script src={% static "bootstrap/js/bootstrap.min.js" %}></script>
</html>
