{% load i18n %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% trans "Reset your password" %}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href={% static "bootstrap/css/bootstrap.min.css" %}>

    <!-- Custom styles for this template -->
    <link href="{% static "css/account.css" %}" rel="stylesheet">
    <link href="{% static "css/reset.css" %}" rel="stylesheet">
</head>

<body class="app-account">
{% if validlink %}
    <div class="account-form reset-confirm mx-auto">
        <form method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="account-form-header">
                <h1>{% trans "Reset your password" %}</h1>
            </div>
            <div class="account-form-body mt-3">
                <div class="form-group required">
                    {{ form.new_password1.errors }}
                    <label for="id_new_password1">{% trans "Password" %}</label>
                    <input type="password" class="form-control" name="new_password1" autocomplete="new-password"
                           required="" id="id_new_password1">
                    <div class="invalid-feedback">
                        {% trans "Your password must be 8-20 characters long and contain both letters and numbers." %}
                    </div>
                </div>
                <div class="form-group required">
                    {{ form.new_password2.errors }}
                    <label for="id_new_password2">{% trans "Password confirm" %}</label>
                    <input type="password" class="form-control" name="new_password2" autocomplete="new-password"
                           required="" id="id_new_password2">
                    <div class="invalid-feedback">
                        {% trans "Password did not match." %}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">{% trans "Change my password" %}</button>
            </div>
        </form>
    </div>
{% else %}
    <div class="reset-confirm-invalid mx-auto">
        <div class="account-form-header">
            <h1>{% trans "Sorry" %}</h1>
            <h2>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</h2>
        </div>
    </div>
{% endif %}
</body>

<script src="{% static "js/reset-confirm.js" %}"></script>
<script src={% static "js/jquery-3.4.1.slim.min.js" %}></script>
<script src={% static "js/popper.min.js" %}></script>
<script src={% static "bootstrap/js/bootstrap.min.js" %}></script>

</html>
