{% extends "base.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block stylesheet %}
    {% load static %}
    <link href={% static "css/dashboard.css" %} rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="card">
                    <div class="card-header">
                        近期更新
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">编译原理编程作业</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.
                        </p>
                        <a href="{% url "oj:assignment" %}" class="btn btn-primary">查看详细</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}