{% load i18n %}
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title"
                id="staticBackdropLabel">{% trans "Create submission" %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile">
                <label class="custom-file-label"
                       for="customFile">{% trans "Choose file" %}</label>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">{% trans "Close" %}</button>
            <button type="button" class="btn btn-primary">{% trans "Submit" %}</button>
        </div>
    </div>
</div>