{% load i18n %}
{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% trans "Activation complete" %}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href={% static "bootstrap/css/bootstrap.min.css" %}>

    <!-- Custom styles for this template -->
    <link href="{% static "css/account.css" %}" rel="stylesheet">
    <link href="{% static "css/reset.css" %}" rel="stylesheet">
</head>
<body class="app-account">
<div class="account-form reset-done-form mx-auto">
    <div class="account-form-header mx-auto">
        <h1>{% trans "Activation complete" %}</h1>
        <h2>{% trans "Your account is ready to use." %}
            {% url 'login' as login_url %}
            {% blocktrans %}You may go ahead and <a href="{{ login_url }}">log in</a> now.{% endblocktrans %}</h2>
    </div>
</div>
</body>
</html>
