{% load i18n %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% trans "Registration" %}{% trans "almost done" %}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    {% load static %}
    <link href="{% static "css/account.css" %}" rel="stylesheet">
    <link href="{% static "css/reset.css" %}" rel="stylesheet">
</head>
<body class="app-account">
<div class="account-form reset-done-form mx-auto">
    <div class="account-form-header mx-auto">
        <h1>{% trans "Almost done" %}</h1>
        <h2>{% trans "We sent your an activation code. Check your email and click on the link to activate your account." %}</h2>
    </div>
</div>
</body>
</html>
